.login {
	width: 100%;
	height: 100vh;
	display: flex;
	padding: 10px;
}

.signup {
	width: 100%;
	height: 100vh;
	display: flex;
	padding: 10px;
}

.auth-banner {
	width: 45%;
	height: 100%;
	border-radius: 12px;
	background-color: var(--primary-orange);
	position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth-banner > img {
	position: absolute;
	height: 100%;
	top: 0;
	left: 0;
	opacity: .5;
}

.auth-banner > div:last-child {
	z-index: 1;
	position: relative;
	display: flex;
	gap: 20px;
	align-items: center;
	height: fit-content;
	color: white;
	font-size: 2.4rem;
	font-weight: 700;
}

.auth-line {
	background-color: white;
	width: 80px;
	height: 6px;
}

.auth-container {
	width: 55%;
	height: 100%;
	padding: 60px 16%;
	padding-left: 60px;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.auth-container > span:first-child {
	font-size: 1.32rem;
	font-weight: 700;
}

.auth-container > span:nth-child(2) {
	font-weight: 500;
	font-size: .72rem;
}

.auth-container-line {
	width: 100%;
	height: 1px;
	background-color: rgb(160, 160, 160);
	margin: 32px 0;
}

.auth-form {
	display: flex;
	flex-direction: column;
	gap: 12px;
	width: 100%;
}

.input-field {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.input-field > div:first-child {
	display: flex;
	justify-content: space-between;
	width: 100%;
	font-size: .72rem;
	font-weight: 600;
}

.input-field > div:first-child > span:first-letter {
	text-transform: uppercase;
}

.input-field > input {
	padding: 7px 16px;
	font-size: .68rem;
	font-family: Poppins;
	font-weight: 500;
	outline: none;
	border: none;
	box-shadow: 0 0 2px rgb(160, 160, 160, .1);
	border: 1px solid rgb(160, 160, 160);
	border-radius: 4px;
}

.input-field > input:focus {
	box-shadow: 0 0 1px var(--primary-orange);
	border: 1px solid var(--primary-orange);
}

.auth-form > button {
	margin-top: 16px;
	background-color: var(--primary-orange);
	border: none;
	color: white;
	font-family: Poppins;
	font-size: .72rem;
	font-weight: 600;
	padding: 12px;
	border-radius: 4px;
	cursor: pointer;
}

.auth-form-extra {
	text-align: center;
	font-size: .52rem;
	cursor: pointer;
	font-weight: 600;
}

.auth-back {
	display: none;
}