.dashboard-books, .book-display {
	width: 100%;
	height: 100%;
	padding: 32px 2.5%;
}

.dashboard-books-cnt {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: relative;
}


.dashboard-books-cnt-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.dashboard-books-cnt-nav-categories {
	display: flex;
	gap: 10px;
	font-size: .6rem;
	font-weight: 560;
}

.dashboard-books-cnt-nav-categories > span {
	padding: 5px 20px;
	border-radius: 20px;
	cursor: pointer;
	color: rgb(80, 80, 80);
	background-color: rgb(250, 130, 60, .2);
}

.selected-nav {
	color: white !important;
	background-color: var(--primary-orange) !important;
}

.dashboard-books-cnt-nav-search {
	position: relative;
	width: 45%;
	display: flex;
	justify-content: space-between;
}

.dashboard-books-cnt-nav-search > span:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	translate: 0 -50%;
	left: 10px;
}

.dashboard-books-cnt-nav-search > input {
	width: 80%;
	background-color: rgb(240, 230, 230);
	border: none;
	padding: 12px 36px;
	font-size: .72rem;
	font-weight: 500;
	border-radius: 4px;
	outline: none;
}

.dashboard-books-cnt-nav-search > button {
	padding: 8px 20px;
	background-color: var(--primary-orange);
	color: white;
	border: none;
	font-size: .6rem;
	font-weight: 600;
	font-family: Poppins;
	border-radius: 4px;
	cursor: pointer;
}

.dashboard-books-cnt-nav-search > input::placeholder {
	color: rgb(180, 180, 180);
}


.dashboard-books-cnt-main {
	width: 100%;
	height: calc(100% - 80px);
	overflow-y: scroll;
	padding-right: 20px;	
}

.dashboard-books-cnt-main::-webkit-scrollbar {
	width: 6px;
}

.dashboard-books-cnt-main::-webkit-scrollbar-thumb {
	cursor: pointer;
	background-color: var(--primary-orange);
	border-radius: 12px;
}

.dashboard-books-cnt-grid {
	width: 100%;
	display: grid;
	column-gap: 12px;
	row-gap: 20px;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}

.dashboard-books-card {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.dashboard-books-card > div:first-child {
	width: 100%;
	height: 220px;
	background-color: rgb(220, 220, 220);
	border-radius: 4px;
	overflow: hidden;
}

.dashboard-books-card-info {
	display: flex;
	flex-direction: column;
	gap: 0px;
	width: 100%;
}

.dashboard-books-card-info > div:first-child {
	display: flex;
	justify-content: space-between;
	width: 100%;
	align-items: center;
	font-size: .76rem;
}

.dashboard-books-card-info > div:first-child > span:first-child {
	font-weight: 600;
}

.dashboard-books-card-info > div:first-child > div {
	display: flex;
	align-items: center;
	gap: 4px;
}

.dashboard-books-card-info > div:first-child > div > span:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
}

.dashboard-books-card-info > span:last-child {
	font-size: .8rem;
}

.dashboard-books-popup {
	position: fixed;
	width: 80%;
	height: 80%;
	background-color: var(--bg-white);
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	box-shadow: 0 1px 2px rgb(0, 0, 0, .4);
	border-radius: 12px;
	padding: 36px 40px;
}

.dashboard-books-popup-form {
	width: 100%;
	height: 100%;
	display: flex;
	gap: 20px;
}

.dashboard-books-popup-form > div:first-child {
	width: 50%;
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.dashboard-books-popup-form > div > input {
	width: 100%;
}

.dashboard-books-popup-form  input, .dashboard-books-popup-form textarea{
	height: fit-content;
	background-color: rgb(230, 230, 230);
	border: none;
	padding: 16px 18px;
	font-size: .72rem;
	font-weight: 500;
	border-radius: 4px;
	outline: none;
}

.dashboard-books-popup-form textarea {
	height: 180px;
}

.dashboard-books-popup-form button {
	padding: 10px 40px;
	background-color: var(--primary-orange);
	color: white;
	border: none;
	font-size: .55rem;
	font-weight: 600;
	font-family: Poppins;
	border-radius: 4px;
	cursor: pointer;
	width: fit-content;
}

.dashboard-books-popup-form  input::placeholder {
	color: rgb(180, 180, 180);
}

.popup-input {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.popup-input > span:first-child {
	font-size: .6rem;
	font-weight: 500;
}

.dashboard-books-popup-form > div:last-child {
	width: 50%;
	height: initial;
}

.dashboard-books-popup-form > div:last-child > input {
	/*height: calc(100% - 280px);*/
	height: 100%;
}

.pdf-drop {
	border: 2px dashed rgb(160, 160, 160);
	border-radius: 4px;
	height: calc(100% - 280px) !important;
	position: relative;
	cursor: pointer;
}

.pdf-drop > input {
	visibility: hidden;
}

.pdf-drop > div:last-child {
	position: absolute;
	left: 50%;
	top: 50%;
	translate: -50% -50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: .6rem;
	font-weight: 500;
}

.pdf-drop > div:last-child > span:first-child {
	font-size: 2.4rem;
}


.popup-error {
	position: absolute;
	left: 40px;
	z-index: 1;
	width: 60%;
	color: white;
	background-color: rgb(250, 120, 120);
	font-size: .68rem;
	font-weight: 500;
	border-radius: 3px;
	padding: 10px 20px;
	box-shadow: 0 1px 2px rgb(120, 120, 120, .4);
}

.popup-error > div:last-child {
	width: 0;
	height: 3px;
	border-radius: 3px;
	background-color: white;
	position: absolute;
	bottom: 0;
	left: 0;
	animation: load 1.2s linear;
}

@keyframes load {
	from {
		width: 0%;
	}

	to {
		width: 100%;
	}
}

.popup-exit {
	position: absolute;
	right: 12px;
	top: 12px;
	font-size: 1.2rem;
	width: 20px;
	height: 20px;
	cursor: pointer;
}

.book-display {
	display: flex;
	gap: 24px;
}

.book-display-back {
	display: none;
}

.book-display-main {
	width: 62%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 28px;
}

.book-display-info {
	display: flex;
	width: 100%;
	/*background-color: blue;*/
	gap: 32px;
}


.book-display-info > div:first-child {
	width: 320px;
	height: 360px;
	background-color: rgb(220, 220, 220);
	border-radius: 4px;
	overflow: hidden;
}

.book-display-info > div:first-child > img {
	width: 100%;
}

.book-display-info > div:nth-child(2) {
	display: flex;
	flex-direction: column;
	width: calc(100% - 360px);
	gap: 4px;
}

.book-display-info > div:nth-child(2) > span:nth-child(1) {
	font-size: 1.6rem;
	font-weight: 700;
}

.book-display-info > div:nth-child(2) > span:nth-child(2) {
	font-size: .72rem;
	font-weight: 500;
}

.book-display-info > div:nth-child(2) > div:nth-child(3) {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: .72rem;
}

.book-display-info > div:nth-child(2) > div:nth-child(3) > span:first-child {
	font-size: .72rem;
	font-weight: 600;
	font-style: italic;
}

.book-display-info > div:nth-child(2) > div:nth-child(3) > span:last-child {
	display: flex;
	align-items: center;
	gap: 8px;
}

.book-display-info > div:nth-child(2) > div:nth-child(3) > span:last-child > span:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
}

.book-display-info > div:nth-child(2) > button {
	padding: 12px 20px;
	background-color: var(--primary-orange);
	color: white;
	border: none;
	font-size: .88rem;
	font-weight: 600;
	font-family: Poppins;
	border-radius: 4px;
	cursor: pointer;
	margin-top: 16px;
	display: flex;
	gap: 6px;
	align-items: center;	
	justify-content: center;
	height: 44px;
}

.button-text {
	font-size: .66rem;
}

.button-loader {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: conic-gradient(transparent, white);
	mask-image: radial-gradient(circle, transparent 40%, rgb(0, 0, 0) 60%);
	animation: loading 1.2s linear infinite;
}

@keyframes loading {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.book-display-info > div:nth-child(2) > button:disabled {}

.book-display-similar-category {
	width: 100%;
	height: calc(100% - 388px);
	display: flex;
	flex-direction: column;
	gap: 8px;
}

.book-display-similar-category-hdr {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

.book-display-similar-category-hdr > span:first-child {
	font-size: .92rem;
	font-weight: 700;
}

.book-display-similar-category-cnt {
	width: 100%;
	height: 90%;
	overflow: hidden;
}

.book-display-similar-category-cnt > div {
	width: fit-content;
	height: 100%;
	display: flex;
	gap: 12px;
}

.book-display-book {
	width: 200px;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 2px;
	cursor: pointer;
}

.book-display-book > div:first-child {
	width: 100%;
	height: 90%;
	border-radius: 2px;
	background-color: rgb(220, 220, 220);
}

.book-display-book > div:last-child {
	font-size: .72rem;
	font-weight: 600;
}

.book-display-arrows {
	display: flex;
	gap: 24px;
}

.book-display-arrows > span {
	width: 20px;
	height: 20px;
	border: 1px solid rgb(120, 120, 120);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
}

.book-display-extra {
	width: 38%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.book-display-extra > div:nth-child(2) {
	width: 100%;
	display: flex;
	justify-content: space-between;
}

.book-display-extra > div:nth-child(2) > span:first-child {
	font-size: .92rem;
	font-weight: 700;	
}

.book-display-extra > button {
	padding: 8px 24px;
	background-color: var(--primary-orange);
	color: white;
	border: none;
	font-size: .56rem;
	font-weight: 600;
	font-family: Poppins;
	border-radius: 4px;
	cursor: pointer;
	width: fit-content;
	align-self: flex-end;	
}

.book-display-extra-cnt {
	width: 100%;
	height: 100%;
	overflow-y: auto;
	padding-right: 20px;
}

.book-display-extra-cnt::-webkit-scrollbar {
	width: 6px;
}

.book-display-extra-cnt::-webkit-scrollbar-thumb {
	cursor: pointer;
	background-color: var(--primary-orange);
	border-radius: 12px;
}

.book-display-extra-cnt-questions {
	height: fit-content;
	width: 100%;	
}

.book-display-question {
	display: flex;
	flex-direction: column;
	gap: 12px;
	color: rgb(100, 100, 100);
}

.book-display-question-hdr {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

.book-display-question-hdr > span:first-child {
	font-size: 1.2rem;
	font-weight: 600;}

.book-display-question-hdr > span:nth-child(2) {
	font-size: .66rem;
	align-self: flex-end;
	font-weight: 500;
}

.book-display-question-cnt {
	display: flex;
	gap: 12px;
}

.book-display-question-approval {
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: .8rem;
}

.book-display-question-arrows {
	font-size: 1rem;
	padding: 2px;
	cursor: pointer;
}

.book-question-line {
	width: 100%;
	height: 1px;
	background-color: rgb(120, 120, 120, .2);
}

.book-display-question-main {
	display: flex;
	flex-direction: column;
	gap: 12px;
	margin-top: 12px;
}

.book-display-question-description {
	font-size: .76rem;
	font-weight: 500;
	padding-top: 2px;
}

.book-display-question-option {
	width: 100%;
	display: flex;
	justify-content: space-between;
	font-size: .66rem;
	font-weight: 500;
}

.book-display-question-option > span:last-child {
	cursor: pointer;
}

.book-display-answer-list {
	display: flex;
	flex-direction: column;
}

.answer-area {
	width: 100%;
	height: 220px;
	border-radius: 4px;
	background-color: rgb(220, 220, 220);
}

.question-popup {
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	width: 80%;
	height: 80%;
	background-color: var(--bg-white);
	box-shadow: 0 1px 2px rgb(0, 0, 0, .4);
	border-radius: 12px;
	padding: 36px 40px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.question-popup-hdr {
	align-self: center;
	font-weight: 600;
	color: var(--primary-orange);
}

.question-popup > form {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.question-input-field > div:first-child {
	font-size: .6rem;
	color: rgb(120, 120, 120);
}

.question-input-field > input, .question-input-field > textarea  {
	/*background-color: rgb(235, 235, 235);*/
	padding: 12px 20px;
	border-color: rgb(200, 200, 200);
}

.question-input-field > textarea {
	border-radius: 4px;
	height: 200px;
	outline: none;
}

.question-input-field > textarea:focus {
	box-shadow: 0 0 1px var(--primary-orange);
	border: 1px solid var(--primary-orange);
}