.drafts {
	width: 100%;
	height: 100%;
	padding: 32px 2.5%;
	display: flex;
	flex-direction: column;
	gap: 24px;
	position: relative;
	padding-bottom: 10px;
}


.drafts-menu {
	position: absolute;
	translate: 50% 50%;
}

.drafts-nav {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}

.drafts-nav-categories {
	display: flex;
	gap: 10px;
	font-size: .6rem;
	font-weight: 560;
	height: fit-content;
}

.drafts-nav-categories > span {
	padding: 5px 20px;
	border-radius: 20px;
	cursor: pointer;
	color: rgb(80, 80, 80);
	background-color: rgb(250, 130, 60, .2);
}

.selected-nav {
	color: white !important;
	background-color: var(--primary-orange) !important;
}

.drafts-nav-search {
	position: relative;
	width: 48%;
	display: flex;
	justify-content: space-between;
}

.drafts-nav-search > span:first-child {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 50%;
	translate: 0 -50%;
	left: 10px;
}

.drafts-nav-search > input {
	width: 100%;
	background-color: rgb(240, 230, 230);
	border: none;
	padding: 12px 36px;
	font-size: .72rem;
	font-weight: 500;
	border-radius: 4px;
	outline: none;
}

.drafts-nav-search > input::placeholder {
	color: rgb(180, 180, 180);
}

.drafts-main {
	width: 100%;
	height: 100%;
	/*overflow: hidden;*/
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 12px;
	padding: 0 4px;
	padding-top: 4px;
	padding-bottom: 20px;
	padding-right: 12px;
}


.drafts-main::-webkit-scrollbar {
	width: 6px;
}

.drafts-main::-webkit-scrollbar-thumb {
	cursor: pointer;
	background-color: var(--primary-orange);
	border-radius: 12px;
}

.drafts-main-grid {
	width: 100%;
	display: flex;
	flex-direction: column;
	height: fit-content;
	gap: 12px;
}

.draft-card {
	width: 100%;
	display: flex;
	height: 60px;
	background-color: rgb(255, 250, 245, .8);
	border-radius: 4px;
	box-shadow: 0 0 2px rgb(120, 120, 120, .55);
	align-items: center;
	/*padding: 0 12px;*/
	justify-content: space-between;
}

.draft-card > div:first-child {
	width: 95%;
	height: 100%;
}

.delete-btn {
	justify-self: flex-end;
	color: red;
	padding: 12px;
}

.draft-popup {
	width: 80%;
	height: 80%;
	background-color: var(--bg-white);
	position: fixed;
	top: 50%;
	left: 50%;
	translate: -50% -50%;
	box-shadow: 0 1px 2px rgb(0, 0, 0, .4);
	border-radius: 12px;
	padding: 36px 40px;
}

.draft-popup-exit {
	position: absolute;
	right: 12px;
	top: 12px;
	font-size: 1.2rem;
	width: 20px;
	height: 20px;
	cursor: pointer;
}